#conteneur
{
	border: 2px solid #444;
	margin-bottom:10px;
}

#conteneur:nth-child( 1n+2 ),
#conteneur_element
{
	display: flex;
}

.element, .elmt
{
	width: 150px;
	height: 100px;
}

.element:nth-child(n),
.elmt:nth-child(1)
{
	background-color: orange;
}

.element:nth-child(2n),
.elmt:nth-child(2)
{
	background-color: blue;
}

.element:nth-child(3n),
.elmt:nth-child(3)
{
	background-color: green;
}

  /* ###################*/
 /* 4. quatrieme block */
/* ###################*/


.elmt:nth-child(1)
{
	flex: 2;
}

.elmt:nth-child(3)
{
	flex: 3;
}

  /* ###################*/
 /* 3. troisieme block */
/* ###################*/
#conteneur:nth-child(3)
{
	flex-wrap: wrap;
	
	/* align verticalment si il ya pluseur elements */
	align-content: space-around;
	
	height: 400px;
	background-color: red;
}


  /* ###################*/
 /* 2. deuxsieme block */
/* ###################*/
#conteneur:nth-child(2)
{
	/* align horizontal */
	justify-content: space-around;
	/* align vertical */
	align-items: center;
	
	height: 200px;
	background-color: yellow;
}


  /* #################*/
 /* 1. premier block */
/* #################*/
#conteneur_element:nth-child(1)
{
	flex-direction: row-reverse;
	flex-wrap: wrap;
	/* align horizontal */
	justify-content: center;
}

#conteneur_element:nth-child(2)
{
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	/* align horizontal */
	justify-content: space-between;
}

#conteneur_element:nth-child(3)
{
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	/* align horizontal */
	justify-content: space-around;
}